{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "semantic/semantic.min.js" %}></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src={% static "js/Controller.js" %}></script>
<script src={% static "js/generic.js" %}></script>
<link href={% static "semantic/semantic.min.css" %} rel="stylesheet">
<link href={% static "css/generic.css" %} rel="stylesheet">
