{% extends 'base.html' %}

{% block content %}

    <div class="ui main text container">
      <h1 class="ui header">I am the title of the site</h1>
      <p>Just some words to show the structure of the web site</p>
      <p>A text container is used for the main container, which is useful for single column layouts</p>
      <img class="wireframe" src="assets/images/wireframe/media-paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="assets/images/wireframe/paragraph.png">
    </div>

{% endblock %}
